<launch>
        <arg name="" value="10"/>
        <arg name="drone_id" value="0"/>
        <arg name="map_size_x" value="50.0"/>
        <arg name="map_size_y" value="25.0"/>
        <arg name="map_size_z" value=" 2.0"/>
        <arg name="target2_odom_topic" value="/target_odom_2" />
        <arg name="odom_topic" value="/odom_world" />

        <!--<node pkg ="" name="" type="" output="">
                <prarm name="" value=""/>
        </node>-->



    <node pkg="targets_control" name="targets_ctrl" type="targets_ctrl" output="screen"/>
    
    <include file="$(find oa_guider)/launch/oaguider.xml">
        <arg name="odometry_topic" value="$(arg odom_topic)" />

        <arg name="max_vel" value="2.0" />
        <arg name="max_acc" value="3.0" />

        <arg name="guide_horizon" value="7.5" />
        <arg name="drone_id" value="$(arg drone_id)"/>

    </include>

        <node pkg="oa_guider" name="drone_traj_server" type="traj_server" output="screen">
                 <!--remap from="/position_cmd" to="/drone_guider/pos_cmd"/> -->
                <!--remap from="/guider/bspline" to="drone_planning/bspline"/> --> 
                <param name="traj_server/time_forward" value="1.0" type="double"/>
        </node>

        <node name="rviz_oag" pkg="rviz" type="rviz" args="-d $(find oa_guider)/launch/sim.rviz" required="true" /> 
        



        <include file="$(find oa_guider)/launch/simulator.xml">
                <arg name="drone_id" value="$(arg drone_id)"/>
                <arg name="map_size_x_" value="$(arg map_size_x)"/>
                <arg name="map_size_y_" value="$(arg map_size_y)"/>
                <arg name="map_size_z_" value="$(arg map_size_z)"/>
                <arg name="init_x_" value="0.0"/>
                <arg name="init_y_" value="0.0"/>
                <arg name="init_z_" value="1.0"/>
                <arg name="target_x_" value="12.0"/>
                <arg name="target_y_" value="0.5"/>
                <arg name="target_z_" value="1.0"/> 
                <arg name="odometry_topic" value="$(arg target2_odom_topic)" />
        </include>



</launch>